/* Reset básico */
body, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #282828;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #000000;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.banner {
  min-height: 200px;
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(to left, #000000 1px, #39FF14 50%, #000000);
  color: white;
  font-size: 24px;
}

.intro {
  min-height: 200px;
  padding: 20px;
  background: #1d1d1d;
  text-align: center;
  color: white;
}

.stats {
  min-height: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.stat-card {
  color: white;
  width: 150px;
  height: 100px;
  background: #000000;
  border-radius: 10px;
}




.soporte {
  min-height: 300px;
  padding: 20px;
  background: #333333;
  text-align: center;
}

.soporte-box {
  background: rgb(37, 37, 37);
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
}

footer {
  min-height: 300px;
  background: #264653;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

