/* Estilos generales */
body {
  background-color: #25262a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  background-color: #191919;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #0b0b0b;
}

/* Banner */
header {
  background-image: url(img/fondo.jpg);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

header h2 {
  font-size: 36px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Botones */
button {
  background-color: #0b0b0b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: backgraund: 0.03s;
}

button:hover {
  background-color: #181818;
}

/* Bordes y separaciones */
hr {
  border: 1px solid #1a1a1a;
}
